body {
  margin: 0;
  padding: 0;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  border: 2px solid black;
}

.right-nav {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 5%;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-bar {
  height: 7vh;
  display: flex;
}

.left-nav {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  margin-right: 7%;
}

.fa-mobile-alt {
  font-size: x-large;
  margin-top: 8px;
}

.main-body {
  background-color: rgb(250, 128, 114);
  height: 90vh;
}

.body-paragraph {
  color: white;
  text-align: center;
  padding-top: 5%;
}

p {
  line-height: 0.5;
}

.circle1 {
  background: rgb(54, 57, 74);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  text-align: center;
  margin-right: 5%;
}

.fa-laptop {
  font-size: 120px;
  color: rgb(56, 158, 138);
  display: inline-block;
  margin-top: 33px;
  padding-bottom: 70px;
}

.circle2 {
  background: rgb(232, 90, 89);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  text-align: center;
  margin-right: 5%;
}

.fa-pencil-alt {
  font-size: 80px;
  color: rgb(190, 177, 53);
  display: inline-block;
  margin-top: 60px;
  padding-bottom: 83px;
}

.circle3 {
  background: rgb(56, 158, 138);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  text-align: center;
}

.fa-envelope-open-text {
  font-size: 130px;
  color: rgb(232, 90, 89);
  display: inline-block;
  margin-top: 30px;
  padding-bottom: 63px;
}

.services-parent {
  margin-top: 6%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 14px;
}

.services {
  font-weight: 700;
  margin-bottom: 10px;
}

.white-space {
  height: 3vh;
}
